body {
  background: #333;
  color: white;
  padding: 0 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-links {
  display: flex;
  width: 150px;
  height: 50px;
  font-size: 30px;
}

.profile-links a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.profile-links a:active {
  outline: none;
}