body {
  background: linear-gradient(to top, rgb(34, 34, 34), rgb(61, 61, 61));
  color: white;
  padding: 0 30px;
  font-family: 'Anton', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  font-family: 'Anton', sans-serif;
}

svg g {
  font-family: 'Anton', sans-serif;
  font-size: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 850px;
  border-bottom: 1px solid #999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin: 35px 0 0 0;
}

.logo-img {
  height: 100px;
}

.profile-links {
  display: flex;
  width: 150px;
  height: 50px;
  font-size: 30px;
}

.profile-links a {
  color: #999;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  margin: 15px 0 0 0;
}

.profile-links a:hover {
  color: white;
}

.main-content {
  display: flex;
  height: 650px;
  margin-top: 20px;
}

.player-compare {
  width: 850px;
  min-width: 850px;
}

.player-card {
  display: flex;
  justify-content: space-around;
}

.player-card-details {
  height: 500px;
  width: 350px;
  margin: 25px;
  position: relative;
  background-image: url("../images/court.png");
  background-size: 100% 100%;
  border: 3px solid white;
}

.player-photo {
  position: absolute;
  background-size: 100% 100%;
  width: 350px;
  height : 250px;
  top: -50px;
}

.player-stats {
  position: absolute;
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(40, 40, 40));
  height: 300px;
  width: 400px;
  left: -25px;
  top: 185px;
  color: white;
  font-size: 22px;
  z-index: 1;
  border-radius: 5px;
  border: 3px solid white;
}

.player-name {
  position: absolute;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  background: linear-gradient(to top, rgb(34, 34, 34), rgb(75, 75, 75));
  padding: 0 10px;
  width: auto;
  white-space: nowrap; 
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 3px solid white;
  z-index: 10;
}

.player-stats div {
  margin: 14px;
  background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0.2));
  padding: 0 10px;
  border-radius: 2px;
}

.player-select {
  height: 100px;
  padding: 0 30px;
}

.graph-area {
  width: 750px;
  position: relative;
}

#graph {
  height: 500px;
  width: 625px;
  background: fuchsia;
  margin: 25px 0 31px 60px;
}

.player-pos, .player-height {
  color: white;
  font-size: 22px;
  margin-left: 20px;
  background: linear-gradient(to top, rgb(34, 34, 34), rgb(75, 75, 75));
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid white;
}

.player-pos {
  margin-top: 11px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.close-one, .close-two {
  position: absolute;
  right: 0;
}

.player-button, .graph-button {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(75, 75, 75));
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid white;
}

.player-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.player-button:hover, .graph-button:hover {
  background: linear-gradient(to top, rgb(75, 75, 75), rgb(0, 0, 0));
}

.player-button:focus, .player-button:active {
  outline: none;
}

.active {
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(175, 175, 175));
  color: black;
  border: 2px solid black;
}

.active:hover {
  background: linear-gradient(to top, rgb(175, 175, 175), rgb(255, 255, 255));
}

.graph-buttons {
  display: flex;
  justify-content: center;
}

.graph-button {
  width: 60px;
}

.graph-button:not(:last-of-type) {
  margin-right: 20px;
}
